*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('./image/forest.jpg');
    background-size: cover;
    background-position:top center;
}

.app-container{
    max-height:80vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-content: center;
    justify-content: center;
    padding:190px 23px 23px;
}

input{
    max-width: 350px;
    padding:10px 15px;
    outline: none;
    border:none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255,0.3);
    font-weight: 400;
    font-size: 20px;
    transition: 0.3s ease-out;
}

header input:focus{
    background-color: rgba(255, 255, 255,0.6);
}

main{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
}

.city{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 4px;
}

.date{
    color: white;
    font-size: 15px;
}

.temperature{
    color:white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    margin:10px 0;
}

.weather-icon{
    color: white;
    width: 65%;
    margin-bottom: 15px;
}

.lowest, .highest{
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}